{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>beranda</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <img id="banner" src="{% static 'img/sekolah.png' %}" alt="">
    <h2>Penerimaan Siswa Baru SMAN 1 Pamekasan</h2>

    <div id="menu">
        <ul>
            <li><a href="/">beranda</a></li>
            <li><a href="/daftar/">daftar</a></li>
        </ul>
    </div>
</body>
</html>