body{
    margin: 0;
}
#banner{
    width: 100%;
    float: left;
}

#menu ul{
    background-color: #000;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}
#menu ul li{
    float: left;

}
#menu ul li{
    color: darkslateblue;
    display: block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu ul li a:hover{
    color: #dad4d4;
}