{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>daftar</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <img id="banner" src="{% static 'daftar/img/sma1.png' %}" alt="">
    <h2>Halaman Daftar</h2>
    <div id="menu">
        <ul>
            <li><a href="/">beranda</a></li>
            <li><a href="/daftar/">daftar</a></li>
        </ul>
    </div>

</body>
</html>